<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a nuestra tienda online!</h1>
    <p>Haga click en el botón de abajo para ver los productos disponibles.</p>
    <a href="/realtimeproducts">
        <button>Ver productos</button>
    </a>
</body>
</html>
